@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/tft-logo.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
        <h3>-------------------------------------------------------</h3>
        <h3>Add /findAll to the URL to see the collection of users </h3>
        <h3>-------------------------------------------------------</h3>
        <h3>Or add /createperson to create a new User</h3>

        <img src="  https://media.giphy.com/media/kaq6GnxDlJaBq/giphy.gif  " alt="pingu gif" height="100" width="100">

    <img src="https://media.giphy.com/media/kbRDtgjMjcTyfNGNLG/giphy.gif" alt="pingu gif" height="100" width="200">
    </body>
</html>
